.i001-list {
  margin-bottom: 11px;
}.i001-list-item {
  border-top: 1px dashed #e5e5e5;
  overflow: hidden;
  padding: 16px 0 18px;}
.custom__blogs_h h4 a {
  color: #64c8ac !important;
  text-decoration: none;
}.i001-list-item .i001-list-image {
  float: left;
  width: 156px;
  margin-right: 30px;
}.i001-list-item .i001-list-wrap {
  float: left;
  margin: 0;
  padding-left: 0px;
  width: 80%;
}a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
  color: #ffffff;
  display: block;
  text-decoration: none;
}.new_v01, p.new_v01 input, .i001-detail-price-button.i001-css-button input, p.style-button input[type="submit"] {
  background-color: #64c8ac;
  background-image: linear-gradient(#64c8ac, #73cdb4);
  border-radius: 3px;
}.i001-css-button, p.i001-css-button input, .i001-detail-price-button.i001-css-button input, p.style-button input[type="submit"] {
  font-family: Helvetica,Arial,Verdana,sans-serif;
}.i001-detail-price-button.i001-css-button input, .i001-css-button, p.i001-css-button input, div.i001-css-button a, p.style-button input[type="submit"] {
  border: medium none;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  height: 27px;
  line-height: 27px;
  margin-left: 2px;
  min-width: 100px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  width: 100px;
}.section_inner_margin{
  padding-top: 2px !important;
}
.custom__navigations__downs .second .inner ul {
  background: #74CEB5 !important;
}
.custom__navigations__downs .drop_down .second .inner ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 {
  font-size: 9px !important;
  line-height: 30px !important;
  font-family: initial !important;
} .drop_down .second .inner ul li.sub a i.q_menu_arrow {
  color: #fff !important;
  display: inline-block !important;
  float: right !important;
  font-size: 17px !important;
  position: relative;
  top: -22px !important;
  right: -6px !important;
}
.blog_menu .drop_down .narrow .second .inner ul li {
  width: 346px !important; 
}
.page-template-custom_blog .custom__blogs_h {
  margin: 0 auto;
  padding-top: 60px !important;
  width: 990px;
}
.drop_down .second .inner ul li ul {
 box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15) !important;
  background: #64c8ac none repeat scroll 0 0 !important;
}.single-advices .i001-image-right .i001-detail-wrap {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
.custom__navigations__downs li.narrow .second .inner ul {
  margin-top: -15px;
  padding: 7px 0;
}
 .i001-product-list-item.f {
  margin-left: 0;
}.i001-product-list-item {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  padding: 0;
  width: 218px;
}.i001-product-list-image {
  height: 194px;
  margin: 0;
  padding: 0;
}.i001-product-list-details {
  background: #f5f5f5 none repeat scroll 0 0;
  height: 67px;
  line-height: 1.5;
  padding: 8px 10px;
}
.i001-product-list-details h4 {
  margin: 0;
  padding: 0;
}
.i001-product-list-buttons {
  background: #f5f5f5 none repeat scroll 0 0;
  height: 28px;
  overflow: hidden;
  padding: 0 4px 8px;
}a.i001-css-button, .i001-css-button.new_v01 a, div a.i001-css-button.new_v01, div a.i001-css-button {
  color: #ffffff;
  display: block;
  text-decoration: none;
}.i001-product-list-item.f {
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 6px;
}.content, .content .container, .full_width {
  background-color: #fff !important;
}.i001-product-list-details a {
  color: #6dcbb1;
  font-family: arial;
  font-size: 18px;
}.title h1, .title.title_size_small h1 {
  font-family: arial;
  font-size: 30px !important;
  line-height: 1.30435em;
}
