/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/

//MEGANS CHANGES 05.02.18

.vc_single_image-wrapper.vc_box_border_grey {
    display: block !important;
}

.wpb_content_element.wpb_single_image img {
    width: 100% !important;
}

//Making grey line thick
.separator.grey-line.normal {
    height: 15px !important;
}

body.home .sign-up {
    background: #e9ebe6;
    padding: 50px 0px 110px 0px !important;
}

.sign-up {
    background: #e9ebe6;
    padding: 50px 0px 10px 0px !important;
}

.wpb_widgetised_column .widget {
    margin: 0 !important;
}

.wpb_widgetised_column .widget a:hover, .wpb_widgetised_column .widget.posts_holder li:hover {
    color: rgba(34,34,34,0.8);
}

a.sign-up-button {
    background: #620f61;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 2px;
    margin-left: 30px;
    color: white !important;
}

a.sign-up-button:hover {
    background: white !important;
}

div#nav_menu-5, div#text-11 {
    margin-bottom: 20px !important;
}

p.tribe-events-promo {
    display: none !important;
}

.woocommerce .content .container .container_inner, .woocommerce-page .content .container .container_inner {
    padding: 200px 0 30px !important;
}

#tribe-events{
  margin-top: 250px     !important;
}

@media screen and (max-width: 768px) {
    
.woocommerce .content .container .container_inner, .woocommerce-page .content .container .container_inner {
    padding: 20px 0 30px !important;
}   

#tribe-events {
    margin-top: 20px !important;
}
    
}

//MEGANS CHANGES END





.text-heading-all h2 {
    font-size: 30px;
    text-transform: capitalize;
    /*line-height: 48px;*/
}

a.redirect {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px !important;
    padding: 14px 28px;
    line-height: 1;
    background-color: #620f61;
    color: #FFF;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.wpb_single_image .vc_figure-caption {
    background: #e5e5e5;
    padding: 8px;
    font-style: normal;
    margin-top: .2em;
    font-size: 14px;
    text-align: right;
}

/*.home .wrapper .content.content_top_margin_none {
    margin-top: -80px !important;
}*/


.web123_footer {
    display: none;
}


body .events {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 231px;
}

.i001-calendar-month .main td.events_opens .event-item a {

    text-align: center;
    background: #fff !important;
    border: 1px #fff solid !important;
}


.events_opens:hover .events {
    display: block;
}

.events-hdr {
    background: #803e80;
    padding: 10px;
}

.custom__blogs_h h4 a {
    color: #803e80 !important;
    text-decoration: none;
}

.event-item {
    background: #fff !important;
    padding: 10px 0;
    margin-top: -10px;
}

/*
td.events_opens:hover {
    display: block !important;
}
*/

div#secondary {
    margin: 10px;
}


.i001-calendar-month .main td.events_opens a {
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #5a5a5a;
    text-align: center;
    background: #803e80 !important;
    border: 1px #803e80 solid !important;
}

nav.main_menu > ul > li > a {
    line-height: 0.6px !important;
}


.page-template-custom-event .wpb_column.vc_column_container.vc_col-sm-8 {
    margin-bottom: 80px;
}

img.border-bottom {
    margin-top: 30px;
    width: 90%;
    height: 100%;
    margin: 20px;
}
.page-template-custom-event .about-text-wine {
    background: #fff;
    border-bottom: 5px solid #FBAA29;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-bottom: 20px;
    padding-left: 26px;
    margin-top: 15px;
}

.events {
    display: none;
    position: absolute;
    z-index: 2147483647;
}

.i001-event-list .i001-list-item .i001-list-image {

    margin: 0 0 0 10px;

}

.page-template-custom-event #secondary ul li {
    list-style: none;
    padding: 5px 20px;
    border-bottom: 1px solid #fff;
}

.i001-calendar-header0 a.arrow {
    background: #691b68!important;
    height: 31px;
    width: 31px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border-radius: 4px;
    position: relative;
    }


.i001-calendar-header0 {
    background: #7a3579!important;
    border-radius: 5px;
    padding: 3px;
    height: 31px;

}

.page-template-custom-event .widget img.image.attachment-full.size-full {
    margin-bottom: -10px;
}

table.main {
    background-color: #EEE5EE !important;
    width: 237px !important;
}

.page-template-custom-event table.main td {
    color: #000 !important;
    font-family: verdana,arial, helvetica, sans-serif;
    font-size: 11px;
}


.i001-calendar-month .main td a {
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #5a5a5a;
    text-align: center;
    background: #deccde !important;
    border: 1px #eee5ee solid  !important;
}

.i001-list-wrap h5 {
    color: #590258 !important;
      font-family: "open sans", Helvetica, Arial, sans-serif;
  font-size:14px;

}

a.i001-css-button.new_v01 {
    background-color: #590258;
    background-image: linear-gradient(#590258, #691b68);
    color: #fff;
    text-decoration: none;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    position: relative;
    top: 10px;
}

.i001-event-list .i001-list-item {
   margin: 0 10px;
    background: #fff;
      height: 430px;
    box-sizing: border-box;
    padding: 22px;
    box-shadow: 0 2px 1px #ddd;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.page-template-custom-event .wrapper .content.content_top_margin_none {

    margin-top: 0px !important;
}


.drop_down .second .inner>ul, li.narrow .second .inner ul {
    display: inline-block;
    position: relative;
    background-color: #590258;
    border-color: #590258;
}



	  .drop_down .second .inner>ul:hover, li.narrow .second .inner ul:hover {
    display: inline-block;
    position: relative;
    background-color: #590258;
    border-color: #590258;
}


i.qode_icon_font_awesome.fa.fa-search {
    font-size: 30px !important;
    color: #fff;
    padding: 10px;
    background: #590258;
    position: relative;
    top: -25px;
    right: 5px;
}



.drop_down .second .inner ul li a, .drop_down .second .inner ul li h5 {
    font-weight: 700;
    color: #fff;
    height: auto;
    line-height: 16px;
    margin: 0;
    padding: 9px 0;
    font-size: 12px;
    text-transform: capitalize;

}



.side_menu_button {
    cursor: pointer;
    display: table-cell;
    /*left: 160px;*/
    vertical-align: middle;
    height: 100px;
    /*top: -31px;*/
}


a.event-view-but {
    display: block;
    background-color: #590258;
    background-image: linear-gradient(#590258, #691b68);
    color: #fff;
    text-decoration: none;
    width: 130px;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 10px 0;
    text-align: center;
}

.main-contact {
    width: 100%;
}

.label-col {
    width: 30%;
    line-height: 60px;
    height: 50px;
    float: left;
}

.from-col {
    float: right;
    width: 70%;
}

input.wpcf7-form-control.wpcf7-submit.contact-us-form {
    background-color: #590258;
    background-image: linear-gradient(#590258, #691b68);
    color: #fff;
    border: #590258;
    padding: 0 15px;
    font-size: 12px;
    line-height: 12px;
    height: 36px;
}




.page-id-299 p.wp-caption-text {
    background: #e5e5e5;
    padding: 8px 0 5px 10px;
    margin-right: 8px;
    font-style: normal;
    margin-top: -10px;
  margin-bottom: 10px;

}



.list-location .wpb_text_column p {
    padding: 5px 0px;
}


div.wpcf7-response-output.wpcf7-mail-sent-ok {
    margin-top: 70px;
    background-color: #1abc9c;
}


.list-location.wpb_column.vc_column_container.vc_col-sm-6 {
    background: rgba(253, 253, 250, 0.8);
    border-bottom: 3px solid #F6F7EF;
    border-right: 3px solid #F6F7EF;
    box-sizing: border-box;
    padding: 10px;
    vertical-align: top;
}

div#top-border-line-bar {
    padding-top: 20px;
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #fff;
}

div#top-border-line {
    padding-top: 20px;
    width: 30%;
    margin-top: 20px;
    border-top: 1px solid #fff;
}


.text-heading-all.top-border {
    padding-top: 20px;
    width: 30%;
    margin-top: 20px;
    border-top: 1px solid #fff;
}



.about-widget h3.widget-title {
    text-transform: capitalize;
    margin-bottom: 22px;
    font-size: 20px;
}

.about-text-wine {
    background: #fff;
    border-bottom: 5px solid #FBAA29;
    box-sizing: border-box;
    padding: 15px 20px;
    padding-left: 26px;
}

.wpb_widgetised_column .about-text-wine.widget {
    margin: 15px 0;
}

.wpb_widgetised_column .instagram-img.widget {
    margin: 0 0 42px;
}


.wpb_widgetised_column .facebook-img.widget, .wpb_widgetised_column .twitter-img.widget, .wpb_widgetised_column .youtube-img.widget {
    margin: 0 0 -8px;
}


.wrapper .content.content_top_margin_none {

    background: #f6f7ef !important;
}

.wpb_widgetised_column.about-widget .widget li {
    margin: 10px 0 10px;
    border-bottom: 1px solid #fff;
}


.wpb_widgetised_column.about-widget .about-menu-page.widget li:hover {
    margin: 10px 0 10px;
    border-bottom: 1px solid #9C6C9C !important;
}


/*div.column1 {
    background: #EBECDF;
    padding: 40px 0px 0;
    width: 250px;
    z-index: 10;
    box-shadow: 0 1px 1px #ccc;
    border-radius: 3px;
}*/

/*@media screen and (max-width: 1024px) {
  .sidebar-area{
    display: none;
  }
}*/


.footer_bottom ul li a {
    color: #a1a1a1;
    text-transform: capitalize;

    font-weight: 500;
    font-size: 12px;

}

.footer_bottom ul li {
    display: inline-block;
    margin-right: 10px !important;
//nancy changes org: margin-right: 20px !important;

}

/*.home .header_top_bottom_holder {
    position: relative;
    margin-bottom: -0px;
}

.header_top_bottom_holder {
    position: relative;
    margin-bottom: -100px;
}*/

.tparrows.tp-leftarrow:before {
    content: '«' !important;
    padding: 0 15px;
    text-decoration: none;
    font-size: 50px;
    display: block;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    color: #fff;
}

.tparrows.tp-rightarrow:before {
    content: '»'!important;
    padding: 0 0px;
    text-decoration: none;
    font-size: 50px;
    display: block;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
    color: #fff;
}

.hr-line hr {
    color: #fff !important;
    width: 30%;
    text-align: left;
    float: left;
}

.tparrows {

    background: rgba(0, 0, 0, 0) !important;
    background: rgba(0, 0, 0, 0) !important;

}

.extra-slider-on-all-page {
    margin-top: 0px;
}


.about-text-bg .button {
    margin: 15px 0;
}

.top-border-color {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #fff;
}

a.resd-more-about {
    background-color: #590258;
    background-image: linear-gradient(#590258, #691b68);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#590258", endColorstr="#691b68");
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    height: 27px;
    color: #fff;
    text-align: center;
    line-height: 27px;
    border: none;
    font-size: 12px;
    float: right;
    /* padding: 0; */
    margin-left: 2px;
    width: auto;
    display: inline-block !important;
    min-width: 100px;
    padding-left: 4px;
    padding-right: 4px;
}

.about-text-bg p {
    font-size: 12.5px !important;
    overflow: hidden;
    height: 144px;
    line-height: 1.6;
}


.about-text-bg h4 {
    padding-bottom: 10px;
    color: #590258;
    text-decoration: none;
    font-size: 16px;
}

.about-text-bg.wpb_column.vc_column_container.vc_col-sm-4 {
    background: #fff;
    margin: 20px 6px;
    box-sizing: border-box;
    padding: 22px 5px;
    box-shadow: 0 2px 1px #ddd;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    width: 205px;
    height: 280px;
}

.about-img .vc_single_image-wrapper.vc_box_border_grey {
    padding: 8px;
    background: #fff;
    box-shadow: 0 2px 1px #ddd;
}


.footer_top .widget.widget_nav_menu li {
    list-style-type: disc;
    font-size: 16px;
    color: #590258;
  line-height: 16px !important;
}

.web123_footer {
    background-color: #1b1b1b;
}

.content, .content .container, .full_width {
    background-color: rgba(0, 0, 0, 0)!important;
}

.like-blog-paregraph p a {
    color: #590258;
}

.footer_top_holder ul li a {
    font-size: 11.5px !important;
    text-transform: capitalize !important;
    display: block;
    position: relative;
    text-decoration: none;
    color: #3c4046 !important;
}




.subtitle p {
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: #222;
    font-size: 14px;
}

.title-pro .price {
    color: #590258;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.text-bg-color {
    padding: 10px 0px;
    line-height: 1.5;
    height: 110px;
    background: #f5f5f5;
    border-radius: 0 0 5px 5px;
}

.title-pro p {
    color: #590258;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;

}

.title-pro {
    color: #590258;
    text-decoration: none;
    padding: 8px 10px;
    height: 68px;
    line-height: 1.6;
    background: #f5f5f5;
    text-align: left;
}


a.home-buton-link {
    background-color: #590258;
    background-image: linear-gradient(#590258, #691b68);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#590258", endColorstr="#691b68");
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    height: 27px;
    color: #fff;
    text-align: center;
    line-height: 27px;
    border: none;
    font-size: 12px;
    float: left;
    /* padding: 0; */
    margin-left: 2px;
    width: auto;
    display: inline-block !important;
    min-width: 100px;
    padding-left: 4px;
    padding-right: 4px;
}


.wrapper .content.content_top_margin_none {
    /*margin-top: -80px !important;*/
}

.boxed .section .section_inner, .grid_section .section_inner {
    width: 990px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.home-color p {
    padding: 8px 0;
    font-style: italic;
    font-size: 120%;
    color: #590258;
    font-weight: 500;
}

.home-page-text p {
    border-left: 2px solid #590258;
    box-sizing: border-box;
    float: left;
  color:#590258;
    font-size: 24pt;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    max-width: 380px;
    padding-left: 27px;
    padding-right: 10px;
}

/*
.header_bottom nav.main_menu>ul>li>a {

    letter-spacing: -1px !important;
    padding: 0 12px !important;
    }

.header_bottom .container_inner.clearfix {
    position: relative;
    top: 5px;
}

.header_bottom .q_logo {
    top: 65% !important;
    left: 0;
}

.header_bottom .q_logo a {

    height: 270px !important;
    visibility: visible;
}

.header_bottom.clearfix {
    top: 45px;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.90);
    height: 40px;
    z-index: 1000;
    position: relative;
}*/

a.home-buton-link:hover {
    color: #fff;
}



.custom__blogs_h {
    margin-top: 60px;
    margin-bottom: 60px;
}
/*.container_inner {
    width: 990px !important;
    margin: 0 auto;

}*/

.wrapper, body {
    background-color: #f6f7ef;
}
/*
.home .header-top-image {
    position: relative;
    top: -150px;
}

.header-top-image {
    position: relative;
    top: 0px;
}

.header_bottom, .header_top, .fixed_top_header .bottom_header {
    background-color: rgba(0, 0, 0, 0);
}*/

/*
nav.main_menu {
left: 70% !important;
    width: 100%;
 max-width: 100%;
}

*/

.footer_inner h1, .footer_inner h2, .footer_inner h3, .footer_inner h4, .footer_inner h5, .footer_inner h6, .footer_inner p, .footer_inner li, .footer_inner ul, .footer_inner a, .footer_inner div, .footer_inner th, .footer_inner td {
    font-family: "open sans", Helvetica, Arial, sans-serif;
    line-height: 1.6;
font-size: 11.5px;
}

input.name-address {

    float: left;
    position: relative;
   width: 41%;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #394856;
    font-size: 16px;
    line-height: 1.5;
      margin: 0 4px;
}


.column1.left-text {
    max-width: 100%;
    position: relative;
    width: 80%;
    float: left;
    display: inline-block;
}

.column1.right-text {
    max-width: 100%;
    width: 20%;
    float: right;
    position: relative;
}

.footer_top h5 {
    text-transform: capitalize;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 15px;
    line-height: 32px;
    font-size: 20px !important;
}

.container_inner.mailchimp {
    padding: 80px 0 40px 0;
}







input.email-address {
    width: 41%;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #394856;
    font-size: 16px;
    line-height: 1.5;
  float: left;

  }

input.email-address:focus, input.name-address:focus {
   outline: 1px solid #5dacd6;
    border: 1px solid #5dacd6;

  }


/* 19 Jan 2018 responsive  */
@media screen and (min-width: 400px) and (max-width: 1300px) {
  
  
    input.email-address {
    width: 31%;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #394856;
    font-size: 16px;
    line-height: 1.5;
  float: left;

  }
  
  input.name-address {

    float: left;
    position: relative;
    width: 31%;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #394856;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 4px;
  }
  
  
  input.submit-chimp
  {
  margin-top:30px;
  margin-right:25px;
  
  }
  
  

}





/* 19 Jan 2018 responsive - iphone*/
@media screen and (min-width: 280px) and (max-width: 400px)
 {
  
  
    input.email-address {
    width: 42%;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #394856;
    font-size: 16px;
    line-height: 1.5;
     float: left;

  }
  
  input.name-address {

    float: left;
    position: relative;
    width: 30%;
    padding: 10px 15px;
    border: 1px solid #b0b6bb;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: Helvetica Neue, Arial, sans-serif;
    color: #394856;
    font-size: 16px;
    line-height: 1.5;
    /*margin: 0 4px;*/
  }
  
  input.submit-chimp
  {
  margin-top:30px;
  margin-right:25px;
  
  }
  
  
  
  
  
  

}












/* media query end*/


h1.intro {
    border-left: 2px solid #590258;
    box-sizing: border-box;
    float: left;
    font-size: 24pt;
    font-weight: 300;
    line-height: 1.2;
    color: #590258;
    margin-top: 0;
    max-width: 100%;
    padding-left: 27px;
    padding-right: 10px;
}

input.submit-chimp {
    position: relative;
    color: #fff;
    background-color: #5e0069 !important;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px;
    padding: 14px 20px;
    line-height: 1;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.single-event .title_subtitle_holder {

    display: none;

}

.single-event .blog_holder.blog_single article h2, .single-event .blog_holder article .post_info {
    display: none;
}


.drop_down .narrow .second .inner ul li {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}


.drop_down .narrow .second .inner ul li:hover {

    transition: all ease-in-out 0.5s;
    background: rgba(222, 207, 222, 0.3);
    padding: 0;

}


body p {
    color: #222;
    line-height: 26px;
  font-size:14px;
}

h1, h2, h3, h4, h5, h6, p, em, li, ul, a, div, th, td {
    font-family: "open sans", Helvetica, Arial, sans-serif;

}

	.single-event .custom_title {
        margin-bottom: -100px;
    margin-right: 175px;
    text-align: center;
}

.like-blog-links a {
    font-size: 20px;
    font-weight: normal;
    color: #590258;
    font-family: 'ralewaylight', Arial, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

.container_inner.mailchimp {
    padding: 80px 0 40px 0 !important;
}


/*
@media (min-width: 768px){

.vc_col-sm-8 {
    width: 74.666667%;
}
  }*/


body:not(.page-id-11, .page-id-6) > div.wrapper > div > div.content {
  margin-top: 130px!important;
}



nav.main_menu.right{
  margin-top: 16px;
}

header:not(.scrolled) nav.main_menu.right{
  margin-top: 28px;
}


.mc4wp-form-fields{
  width: 50%;
  margin: 0 auto;
  padding-top: 84px;
}


.page-id-4 header:not(.scrolled) .q_logo a {
height: 160px!important;
top: 40px;
}


.home .content{
	  margin: -100px;
	}
	
#custom_html-2,#custom_html-3,#custom_html-4, #media_image-10, #media_image-11,#media_image-12, #media_image-13 {
	  margin: 0 0 0px;
	}
	
.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
	flex-wrap:wrap; 
	margin-bottom: 5%;
	  
}
	
	.container1 {
   /* This will be twice as */
   /* big as the small item. */
   flex: 2 0 0;
}
	  
	  .container2 {
   flex: 1 0 0;
}

			  .container2 img{
   top:50%;
			transform: translate(25%,25%);
}
i.fa.fa-weixin.weixin-awesome-social.awesome-social{
	position: fixed;
    top: 15%;
    right: 0px;
    z-index: 99999;
    background-color: #00d40d;
}


header.centered_logo.centered_logo_animate .q_logo img, header:not(.centered_logo) .q_logo img{
	height:initial !important;
	background-image: radial-gradient(circle closest-side, white, transparent);
}

@media screen and (min-width: 280px) and (max-width: 768px)
 {
	header.centered_logo.centered_logo_animate .q_logo img, header:not(.centered_logo) .q_logo img{
	height:100% !important;
	background-image: radial-gradient(circle closest-side, white, transparent);
	
	
}



//CSS all pulled from the Web123 Options
img.avatar {
display: none;
}

body.home img.normal {
height: 140% !important;
}

input.submit-chimp {
color: white !important;
}

nav.main_menu.right {
padding-bottom: 25px;
margin-top: 25px !important;
}

header.scrolled .widget-odd.widget-last.widget-first.widget-1.header_bottom_widget.widget_woocommerce-dropdown-cart {
padding-top: 10px !important;
}

.mc4wp-form-fields {
width: 80% !important;
}

input.submit-chimp {
margin-left: 10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
