#hidden_cc_form{
    display:none;
}

.wp99234_meta_item{
    margin-bottom:40px;
}

h4.wp99234_meta_title{
    font-size:16px;
}

.woocommerce .blockUI.blockOverlay:before {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    display: block;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    content: "";
    background: url(../images/ajax-loader.gif) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
}

p.membership-benefits {
    display: none;
}

.ui-datepicker {
  background: #fff;
}

#wp99234-disclaimer_overlay,#wp99234-disclaimer-overlay {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9000;
  overflow-y:scroll;
  background:rgba(40,40,40,.75);
}

/* Improve the appearance of the width of disclaimer on mobiles */

.wp99234-disclaimer-window {
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
  padding: 30px;
  background-color:rgba(255,255,255,.95);
  text-align: center;
}

@media only screen and (min-width:320px) and (max-height: 1024px) and (orientation: portrait){
  .wp99234-disclaimer-window {
    min-height:25%;
    left: 25%;
    right: 25%;
    top: 25%;
    transform: translate(-25%, -25%);
    width: 95%;
  }
  #wp99234-disclaimer_overlay,#wp99234-disclaimer-overlay {
    padding:30px;
  }
}

/* iPhone Plus / Pixel 2 Sizes and below in landscape */
@media only screen and (min-width:320px) and (min-height: 320px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2){
  .wp99234-disclaimer-window {
    margin: auto;
    min-width: 90%;
    min-height: 50%;
  }
  #wp99234-disclaimer_overlay,#wp99234-disclaimer-overlay {
    padding: 0;
  }
}

/* iPad / Galaxy Tab and below in landscape */
@media only screen and (min-width:640px) and (min-height: 640px) and (orientation: landscape){
  #wp99234-disclaimer_overlay,#wp99234-disclaimer-overlay {
    padding: 0;
  }
}

.wp99234-disclaimer-title {
  margin-top: 0;
}

.wp99234-disclaimer-text {
  display: block;
  margin-bottom: 10px;
}

.wp99234-disclaimer-button-area{
  display: block;
  bottom:10px;
  left:30px;
  right:30px;
  padding-top: 30px;
}