#adminmenu #toplevel_page_wp99234 .menu-icon-generic div.wp-menu-image::before {
	content:"";
	background: url('../images/logo_compact_500px.png') no-repeat center;
	background-size: 100%;
	opacity: .65;
}

#adminmenu #toplevel_page_wp99234:hover .menu-icon-generic div.wp-menu-image::before {
	opacity: .95;
}

/* Styling our log file */
table.wp99234_log_table {
	text-align: center;
}
table.wp99234_log_table th:nth-of-type(1){
	width: 10%;
}

table.wp99234_log_table th:nth-of-type(2), table.wp99234_log_table th:nth-of-type(3),
table.wp99234_log_table td:nth-of-type(2), table.wp99234_log_table td:nth-of-type(3)
{
	width: 7%;
}

table.wp99234_log_table td:nth-of-type(4){
	font-family: monospace;
	text-align: left;
}

.wp99234_product_custom_view {
	margin-left: 10px;
}

.wp99234_mono {
	font-family: monospace;
	margin: 0;
	padding: 0;
}

.wp99234_error {
	color: red;
}

.wp99234_indented {
	margin-left: 10px;
}
