

.vc_single_image-wrapper.vc_box_border_grey {
    display: block !important;
}

.separator.grey-line.normal {
height: 15px;
}

.sign-up .wpb_widgetised_column .widget {
margin: 0 !important;
}

i.qode_icon_font_awesome.fa.fa-search {
font-size:30px !important;
top: -25px !important;
}